@tailwind base;
@tailwind components;
@tailwind utilities;

.center-cy {
    transform: translateY(-50%);
}

.center-cx {
    transform: translateX(-50%);
}

.bg-head-custom {
    background-color: #AEC6FF;
}

.custom-top-10 {
    top: -20px;
}


.bg-line-custom {
    background-color: #575E71;
}

.rtl-grid {
    direction: rtl;
}

.left-none {
    left: none;
}

.w-custom400 {
    width: 450px;
}

.c-top-pos310 {
    top: 310px;
}

.c-top-pos {
    top: 330px;
}

.h-custom400 {
    height: 450px;
}

.l-custom230 {
    left: 230px;
}

.bg-button {
    background-color: #455e91;
}

@font-face {
    font-family: kalame-thin;
    src: url('../assets/fonts/KalamehWeb-Thin.woff2') format('woff2');
}

@font-face {
    font-family: kalame-regular;
    src: url('../assets/fonts/KalamehWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: kalame-bold;
    src: url('../assets/fonts/KalamehWeb-Bold.woff2') format('woff2');

}
@font-face {
    font-family: kalame-semibold;
    src: url('../assets/fonts/KalamehWeb-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: kalame-medium;
    src: url('../assets/fonts/KalamehWeb-Medium.woff2') format('woff2');
}
.rounded-1xl {
    border-radius: 14px ;
}